/* 1. Import Poppins from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

:root {
  /* This ensures standard CSS uses it too */
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #0f172a;
  color: white;

  /* 2. Apply it to the body */
  font-family: 'Poppins', sans-serif;
}